  /* Alles für die NavBar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

nav {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    border: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
 

/* Login Seite und Anzeige erstellen */
#Form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Stil für Texteingabefelder */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

/* Stil für den Submit-Button */
button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Stil für Labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Stil für Texteingabefelder und Textarea */
input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 13px;

}

/* Stil für den Submit-Button */
input[type="submit"] {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Änderung des Mauszeigers bei Überfahren des Submit-Buttons */
input[type="submit"]:hover {
  background-color: #747676;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
